@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 99;
  padding: 0.5rem;
}
@media (min-width: 1000px) {
  .header {
    display: flex;
    justify-content: center;
    height: 8%;
    background-color: #222222;
  }
}
.header__slogan {
  font-family: Roboto;
  font-weight: 300;
  font-size: 15px;
  position: absolute;
  top: 8px;
  left: 12.5%;
  color: white;
  z-index: 1;
}
.header__nav {
  display: flex;
  height: 3.75rem;
  align-items: center;
  padding: 3% 5%;
  background-color: #ffffff;
}
@media (min-width: 1000px) {
  .header__nav {
    width: 75%;
    height: 5rem;
    padding: 1.5% 5% 1.5% 0.8rem;
    position: absolute;
    top: 2rem;
  }
}
.header__nav #header__menu-toggle {
  display: none;
}
.header__nav .header__menu--container {
  display: flex;
  height: 30px;
  width: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .header__nav .header__menu--container {
    display: none;
  }
}
.header__nav .header__menu--container .menu-button,
.header__nav .header__menu--container .menu-button::before,
.header__nav .header__menu--container .menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 2.5px;
  width: 30px;
  border-radius: 2px;
}
.header__nav .header__menu--container .menu-button::before {
  content: "";
  margin-top: -8px;
}
.header__nav .header__menu--container .menu-button::after {
  content: "";
  margin-top: 9px;
}
.header__nav .nav__logo--container {
  width: 100%;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
@media (min-width: 1000px) {
  .header__nav .nav__logo--container {
    width: unset;
    margin-right: 5rem;
  }
}
@media (min-width: 1350px) {
  .header__nav .nav__logo--container {
    margin-right: 5rem;
  }
}
.header__nav .nav__logo--container img {
  cursor: pointer;
  height: 2.2rem;
  margin-left: 2rem;
  box-shadow: 0px 4px 12px -5px grey;
}
@media (min-width: 1000px) {
  .header__nav .nav__logo--container img {
    margin-left: 0;
    height: 3.2rem;
  }
}
.header__nav .nav__logo--container .text--container {
  cursor: pointer;
  margin-left: 1rem;
}
.header__nav .nav__logo--container .text--container h2 {
  font-size: 1rem;
  font-family: Archivo;
}
@media (min-width: 1000px) {
  .header__nav .nav__logo--container .text--container h2 {
    font-size: 1.2rem;
  }
}
.header__nav .nav__logo--container .text--container .header__logo--title {
  font-weight: 800;
}
.header__nav .nav__logo--container .text--container .header__logo--subtitle {
  font-weight: 400;
}
.header__nav .header__nav--list {
  background-color: white;
  box-shadow: 0px 10px 10px -10px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  list-style-type: none;
  margin-top: 4.5rem;
  padding: 0;
  position: absolute;
  width: 100%;
}
@media (min-width: 1000px) {
  .header__nav .header__nav--list {
    display: unset;
    flex-direction: row;
    box-shadow: none;
    margin-top: 0;
    position: unset;
  }
}
.header__nav .header__nav--list .header__nav--item {
  display: flex;
  width: 100%;
  background-color: white;
  overflow: hidden;
  text-align: left;
}
@media (min-width: 1000px) {
  .header__nav .header__nav--list .header__nav--item {
    display: unset;
    margin: 0 1rem;
  }
}
.header__nav .header__nav--list .header__nav-link {
  position: relative;
  font-family: Archivo;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}
@media (min-width: 1000px) {
  .header__nav .header__nav--list .header__nav-link {
    font-size: 14px;
    margin-right: 1rem;
  }
}
@media (min-width: 1350px) {
  .header__nav .header__nav--list .header__nav-link {
    font-size: 14px;
    margin-right: 2rem;
  }
}
.header__nav .header__nav--list .header__nav-link:hover {
  color: #c9b395;
}
.header__nav .header__nav--icons {
  width: 55%;
  text-align: right;
}
@media (min-width: 1000px) {
  .header__nav .header__nav--icons {
    margin-left: 1rem;
    width: 35%;
  }
}
.header__nav .header__nav--icons > img {
  height: 20px;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}
.header__nav .header__nav--icons > img:not(:last-child) {
  margin-right: 1.4rem;
}
@media (min-width: 1000px) {
  .header__nav .header__nav--icons > img {
    height: 40px;
    border: 1px solid lightgrey;
    padding: 0.5rem;
  }
}
.header #header__menu-toggle:checked + .header__menu--container .menu-button::before {
  margin-top: 0px;
  transition: transform 0.3s ease;
  transform: rotate(45deg);
}
.header #header__menu-toggle:checked + .header__menu--container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.header #header__menu-toggle:checked + .header__menu--container .menu-button::after {
  margin-top: 0px;
  transition: transform 0.3s ease;
  transform: rotate(135deg);
}
.header #header__menu-toggle ~ .header__nav--list li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
@media (min-width: 1000px) {
  .header #header__menu-toggle ~ .header__nav--list li {
    height: unset;
  }
}
.header #header__menu-toggle:checked ~ .header__nav--list li {
  height: 2.5em;
  padding: 0.5rem 0 0.5rem 1.8rem;
}
.header #header__menu-toggle:checked ~ .header__nav--list li a {
  font-size: 16px;
  color: black;
  font-family: Archivo;
  font-weight: 800;
}

.main {
  padding: 4rem 0rem 5rem 0rem;
}
@media (min-width: 1000px) {
  .main {
    margin-top: 4rem;
    padding: 0;
  }
}
.main__container {
  padding: 5rem 1rem 4rem 1rem;
  background-color: #333333;
}
@media (min-width: 1000px) {
  .main__container {
    padding: 7rem 0rem 5rem 20%;
  }
}
.main__upper {
  letter-spacing: 3px;
}
@media (min-width: 1000px) {
  .main__upper {
    display: flex;
  }
}
.main__upper--text {
  font-family: Archivo;
  font-weight: 700;
  font-size: 13px;
  color: white;
}
.main__upper--text:not(:last-child) {
  margin-right: 5px;
}
@media (min-width: 1000px) {
  .main__upper--text {
    font-size: 14px;
  }
}
.main__middle {
  margin-top: 1.5rem;
}
.main__middle--text {
  font-family: Old Standard TT;
  font-weight: 400;
  font-size: 56px;
  color: white;
}
@media (min-width: 1000px) {
  .main__middle--text {
    font-size: 85px;
  }
}
@media (min-width: 1000px) {
  .main__buttons {
    display: flex;
  }
}
.main__buttons button {
  display: block;
  font-family: Archivo;
  font-weight: 600;
  font-size: 14px;
  padding: 0.9rem 2.5rem 0.9rem 2.5rem;
  color: white;
  margin-top: 1.5rem;
}
.main__buttons button.color {
  background-color: #BEAD8E;
  border: 2px solid #BEAD8E;
}
@media (min-width: 1000px) {
  .main__buttons button.color {
    margin-right: 1rem;
  }
}
.main__buttons button.dark {
  background-color: #333333;
  border: 2px solid #676767;
}
.main__form {
  background-color: #222222;
  padding: 2rem 1.5rem 2rem 1rem;
}
@media (min-width: 1000px) {
  .main__form {
    padding: 1rem 0rem 1rem 10%;
  }
}
@media (min-width: 1350px) {
  .main__form {
    padding: 1rem 0rem 1rem 20%;
  }
}
@media (min-width: 1000px) {
  .main__form #check-availability-form {
    display: flex;
    align-items: center;
  }
}
.main__form #check-availability-form .input--container {
  display: block;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1000px) {
  .main__form #check-availability-form .input--container {
    width: 17rem;
    margin-bottom: 0;
    margin-right: 1rem;
    padding-left: 0;
  }
}
.main__form #check-availability-form .input--container .input--text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  color: white;
  margin-bottom: 1rem;
}
.main__form #check-availability-form .input--container .input {
  all: unset;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #686868;
  background-image: url("../assets/calendar.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 16px;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
  width: 100%;
  border-bottom: 2px solid #BEAD8E;
}
.main__form #check-availability-form .input--container input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}
.main__form #check-availability-form .submit {
  display: block;
  font-family: Archivo;
  font-weight: 600;
  font-size: 14px;
  padding: 0.9rem 2rem 0.9rem 2rem;
  color: white;
  background-color: #BEAD8E;
  border: 2px solid #BEAD8E;
  margin-top: 2rem;
  margin-left: 0.5rem;
}
@media (min-width: 1000px) {
  .main__form #check-availability-form .submit {
    margin-top: 0;
    padding: 0.9rem 2rem 0.9rem 2rem;
    height: 50px;
    width: 15rem;
  }
}
@media (min-width: 1350px) {
  .main__form #check-availability-form .submit {
    margin-left: 5rem;
  }
}

.footer {
  position: relative;
  height: 100%;
  width: 100%;
}
.footer::before {
  content: "";
  background-image: url("../assets/footerbg.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.02;
}
@media (min-width: 1000px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
  }
}
@media (min-width: 1350px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
  }
}
.footer__section {
  padding: 0 1.5rem;
}
@media (min-width: 1000px) {
  .footer__section:not(:last-child) {
    flex-grow: 1;
    max-width: 40%;
    padding: 0;
    margin-right: 4rem;
  }
}
.footer__section.section--services > h2, .footer__section.section--contact > h2 {
  font-family: Old Standard TT;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 2rem;
}
.footer__section:not(:last-child) {
  margin-bottom: 2rem;
}
@media (min-width: 1000px) {
  .footer__section.section--logo {
    max-width: 15rem;
    margin-left: 1.5rem;
  }
}
@media (min-width: 1350px) {
  .footer__section.section--logo {
    max-width: 17rem;
    margin-left: 20%;
  }
}
.footer__section.section--logo .footer__logo--container {
  width: 100%;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
@media (min-width: 1000px) {
  .footer__section.section--logo .footer__logo--container {
    width: unset;
    margin-right: 5rem;
    padding: 0 0 2rem 0;
  }
}
.footer__section.section--logo .footer__logo--container img {
  cursor: pointer;
  height: 80px;
  margin-right: 1rem;
  box-shadow: 0px 4px 12px -5px grey;
}
@media (min-width: 1000px) {
  .footer__section.section--logo .footer__logo--container img {
    margin-left: 0;
    height: 3.2rem;
  }
}
.footer__section.section--logo .footer__logo--container .text--container {
  cursor: pointer;
  margin-left: 1rem;
}
.footer__section.section--logo .footer__logo--container .text--container .text--container h2 {
  font-family: Archivo;
  font-size: 26px;
  color: #111111;
}
@media (min-width: 1000px) {
  .footer__section.section--logo .footer__logo--container .text--container .text--container h2 {
    font-size: 1rem;
  }
}
.footer__section.section--logo .footer__logo--container .text--container .footer__logo--title {
  font-weight: 700;
}
.footer__section.section--logo .footer__logo--container .text--container .footer__logo--subtitle {
  font-weight: 400;
}
.footer__section.section--logo p {
  color: #777777;
  font-family: Archivo;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.footer__section.section--logo .logo--icons {
  margin-top: 1.5rem;
}
.footer__section.section--logo .logo--icons i {
  background-color: #F8F8F8;
  padding: 0.5rem;
  font-size: 32px;
  display: inline-block;
  color: #777777;
}
@media (min-width: 1000px) {
  .footer__section.section--logo .logo--icons i {
    font-size: 25px;
  }
}
@media (min-width: 1350px) {
  .footer__section.section--logo .logo--icons i {
    font-size: 32px;
  }
}
.footer__section.section--logo .logo--icons i:hover {
  color: white;
  background-color: #BEAD8E;
}
.footer__section.section--logo .logo--icons i:not(:last-child) {
  margin-right: 0.3rem;
}
@media (min-width: 1000px) {
  .footer__section.section--services {
    max-width: 20rem;
  }
}
@media (min-width: 1350px) {
  .footer__section.section--services {
    max-width: 25rem;
  }
}
.footer__section.section--services .services--container {
  display: flex;
}
@media (min-width: 1000px) {
  .footer__section.section--services .services--container {
    gap: 2rem;
  }
}
.footer__section.section--services .services--container .container__list {
  display: inline-block;
  list-style-type: none;
}
.footer__section.section--services .services--container .container__list:not(:last-child) {
  margin-right: 1rem;
}
.footer__section.section--services .services--container .container__list .list__item {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #777777;
}
.footer__section.section--services .services--container .container__list .list__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (min-width: 1000px) {
  .footer__section.section--contact {
    max-width: 20rem;
    margin-right: 0;
  }
}
@media (min-width: 1350px) {
  .footer__section.section--contact {
    margin-right: 5rem;
  }
}
.footer__section.section--contact .services--container .container__list .list__item {
  display: block;
}
.footer__section.section--contact .services--container .container__list .list__item img, .footer__section.section--contact .services--container .container__list .list__item div {
  display: inline-block;
}
.footer__section.section--contact .services--container .container__list .list__item img {
  margin-right: 1rem;
  height: 40px;
  width: auto;
}
.footer__section.section--contact .services--container .container__list .list__item .title {
  font-family: Old Standard TT;
  font-weight: 400;
  font-size: 20px;
  color: #222222;
}
.footer__section.section--contact .services--container .container__list .list__item .subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}
.footer__section.section--contact .services--container .container__list .list__item:not(:last-child) {
  margin-bottom: 2.5rem;
}
.footer__section.section--copyright {
  background-color: #F8F8F8;
  padding: 1rem;
}
@media (min-width: 1000px) {
  .footer__section.section--copyright {
    display: flex;
    gap: 8.5rem;
    max-width: 100%;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
    margin-top: 3rem;
  }
}
.footer__section.section--copyright p, .footer__section.section--copyright a, .footer__section.section--copyright span {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
}
.footer__section.section--copyright p:not(:last-child), .footer__section.section--copyright a:not(:last-child), .footer__section.section--copyright span:not(:last-child) {
  margin-bottom: 1rem;
}
@media (min-width: 1000px) {
  .footer__section.section--copyright p:not(:last-child), .footer__section.section--copyright a:not(:last-child), .footer__section.section--copyright span:not(:last-child) {
    margin-bottom: 0;
  }
}
.footer__section.section--copyright p:hover, .footer__section.section--copyright a:hover, .footer__section.section--copyright span:hover {
  color: #c9b395;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .footer__section.section--copyright p {
    margin-left: 5rem;
  }
}
@media (min-width: 1350px) {
  .footer__section.section--copyright p {
    margin-left: 20%;
  }
}
@media (min-width: 1000px) {
  .footer__section.section--copyright .span--content {
    margin-right: 5rem;
  }
}
@media (min-width: 1350px) {
  .footer__section.section--copyright .span--content {
    margin-right: 20rem;
  }
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=styles.css.map */
