<div id="rooms-swiper" class="room-swiper">
    <div class="swiper-wrapper">

        <div class="swiper-slide">
            <div class="slide-title">
                <div class="slide-title--group">
                    <i class="fa-solid fa-bed"></i>
                    <i class="fa-solid fa-wifi"></i>
                    <i class="fa-solid fa-car"></i>
                    <i class="fa-regular fa-snowflake"></i>
                    <i class="fa-solid fa-dumbbell"></i>
                    <i class="fa-solid fa-ban-smoking"></i>
                    <i class="fa-solid fa-martini-glass-citrus"></i>
                </div>
            </div>
            <img src="./assets/room-images/luxuryroom2.png" alt="Imagen 1">
            <div class="slide-info">
                <div class="description">
                    <h2>Minimal Duplex Room</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <div class="price">
                    <h2>$345</h2>
                    <p>/Night</p>
                </div>
            </div>
        </div>
        
        ...
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div> 