<div class="number-pagination">
    <ul class="number-pagination__items">
        <li class="number-pagination__items--arrow">
            <i class="fa-solid fa-angles-left"></i>
        </li>
        <li class="number-pagination__items--number">1</li>
        <li class="number-pagination__items--number">2</li>
        <li class="number-pagination__items--number">3</li>
        <li class="number-pagination__items--number">...</li>
        <li class="number-pagination__items--number">10</li>
        <li class="number-pagination__items--arrow">
            <i class="fa-solid fa-angles-right"></i>
        </li>
    </ul>
</div>