<div class="rooms__card">
    <img src="./assets/room-images/luxuryroom2.png" alt="Imagen 1">

    <div class="rooms__card__icons">
        <i class="fa-solid fa-bed"></i>
        <i class="fa-solid fa-wifi"></i>
        <i class="fa-solid fa-car"></i>
        <i class="fa-regular fa-snowflake"></i>
        <i class="fa-solid fa-dumbbell"></i>
        <i class="fa-solid fa-ban-smoking"></i>
        <i class="fa-solid fa-martini-glass-citrus"></i>
    </div>

    <div class="rooms__card__info">
        <div class="rooms__card__info__description">
            <h2 class="rooms__card__info__description--title">Minimal Duplex Room</h2>
            <p class="rooms__card__info__description--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
        <div class="rooms__card__info__price">
            <h2 class="rooms__card__info__price--price">$345</h2>
            <p class="rooms__card__info__price--night">/Night</p>
            <button class="rooms__card__info__price--button">Booking now</button>
        </div>
    </div>
</div>