$main: #BEAD8E;
$mainBlack: #222222;
$mainLightBlack: #333333;

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import '_header';
@import '_main';
@import '_footer';
@import '_coreFeatures';
@import '_ourFoods';
@import '_features';

html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    min-width: 320px;
}