.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact__top-info {
        display: flex;
        flex-direction: column;
        text-align: center;

        @media (min-width: 1000px){
            flex-direction: row;
        }

        .container {
            width: 100%;
            margin-top: 2rem;
            position: relative;
            display: flex;
            text-align: left;
            margin-bottom: 4rem;
            
            @media (min-width: 1000px){
                margin: 0 0 4rem 0;
                padding: 2rem;
                width: 50%;
            }

            .float-text {
                position: absolute;
                font-family: Roboto;
                font-size: 150px;
                font-weight: 700;
                line-height: 234px;
                letter-spacing: -6px;
                text-align: left;
                color: #F8F8F8;
                z-index: -1;
                translate: 166px -58px;
                
                @media (min-width: 1000px){
                    translate: 111px -73px;
                }
            }

            i {
                color: $main;
                font-size: 25px;
                margin-right: 1rem;
            }

            &__text {

                .title {
                    font-family: Old Standard TT;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    color: #222222;
                    margin-bottom: 1rem;

                }

                .subtitle {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0px;
                    color: #777777;
                }

            }
        }
    }

    img {
        margin-top: 2rem;
        width: 90%;

        @media (min-width: 1000px){
            width: 45%;
            margin-top: unset;
        }
    }

    form {
        width: 90%;
        margin-top: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;

        @media (min-width: 1000px){
            margin-top: 2rem;
            width: 45%;
        }

        .input-text {
            padding: 1rem 1rem;
            padding-left: 3rem;
            background-color: #F8F8F8;
            border: none;
            margin-bottom: 1rem;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0px;
            width: 100%;
        }

        .groups {
            display: flex;
            flex-direction: column;
            gap: unset;
            justify-content: space-between;
            
            @media (min-width: 1000px){
                flex-direction: row;
                gap: 1rem;
            }
        }

        .group1, .group2 {
            width: 100%;
        }

        .group1 {
            display: flex;
            flex-direction: column;
        }

        .name, .number, .email, .subject {
            position: relative;

            i {
                translate: 1rem 1rem;
                color: $main;
                position: absolute;
            }
        }

        .message {
            width: 100%;
            position: relative;

            i {
                translate: 1.1rem 1.5rem;;
                color: $main;
                position: absolute;
            }
        }

        .text-area {
            resize: none;
            width: 100%;
            margin-bottom: 1rem;
            background-color: #F8F8F8;
            border: unset;
            padding: 1rem;
            padding-left: 3rem;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0px;
        }

        button {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 3.20px;
            background-color: $main;
            border: none;
            color: white;
            padding: 1rem 3rem;
            width: 100%;
            cursor: pointer;
            margin-bottom: 5rem;
        }
    }
}